*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (min-width: 768px) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-family: Roboto;
  color: var(--color-black);
  line-height: 1.4;
}

main {
  grid-column: 1 / -1;
}
