.about-header {
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../img/keyboard-black.jpeg);
  background-size: cover;
  height: 40vh;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    width: 4rem;
  }
}

.about-main {
  background-color: var(--color-white);

  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns:
      minmax(4rem, 1fr) repeat(12, minmax(min-content, 10rem))
      minmax(4rem, 1fr);
  }

  @media only screen and (min-width: 1200px) {
    grid-template-columns:
      minmax(6rem, 1fr) repeat(12, minmax(min-content, 10rem))
      minmax(6rem, 1fr);
  }

  &__title {
    font-size: 2.4rem;
    text-align: center;
    color: var(--color-black);
    margin: 3rem 0;

    @media only screen and (min-width: 768px) {
      grid-column: 1 / -1;
    }
  }

  &__text-box {
    padding: 2rem 1rem;

    @media only screen and (min-width: 768px) {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns:
        minmax(4rem, 1fr) repeat(12, minmax(min-content, 10rem))
        minmax(4rem, 1fr);
    }

    @media only screen and (min-width: 1200px) {
      grid-template-columns:
        minmax(6rem, 1fr) repeat(12, minmax(min-content, 10rem))
        minmax(6rem, 1fr);
    }
  }

  &__text-box:nth-of-type(2n) {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &__text {
    padding: 1rem 0;

    @media only screen and (min-width: 768px) {
      padding: 1rem 0;
      font-size: 1.4rem;
      grid-column: 2 / -2;
    }
    // line-height: 1.4;
  }
}
