//**********************
// SECTION ABOUT

.section-about {
  // height: 50vh;
  grid-column: 1/ -1;
  background-color: var(--color-primary);
  padding: 8rem 1rem 4rem 1rem;

  @media only screen and (min-width: 600px) {
    padding: 12rem 1rem 4rem 1rem;
  }
}

.about {
  &__title,
  &__text {
    text-align: center;
    font-weight: 400;
    color: var(--color-white);
  }

  &__title {
    margin-bottom: 3rem;
  }
}

//**************************
// SECTION SERVICES

.section-services {
  grid-column: 1 / -1;

  @media only screen and (min-width: 768px) {
    grid-column: 2 / 14;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.service {
  background-color: var(--color-black);
  display: grid;
  justify-items: center;
  padding: 2rem 1rem;
  grid-row-gap: 1rem;

  // @media only screen and (min-width: 768px) {
  //   grid-column: 2 / 6;
  // }

  &__icon {
    width: 8rem;
    height: 7rem;
  }

  &__list {
    color: var(--color-white);
    font-size: 1.6rem;
    list-style: none;
    padding: 3rem 0;
    text-align: center;
  }

  &__item {
    padding-bottom: 1rem;
  }

  &__btn {
    background-color: var(--color-primary);
    display: block;
    margin: 0 auto;
    font-family: inherit;
    color: var(--color-white);
    border: none;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
    font-size: 1.6rem;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__link:link,
  &__link:visited {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.6rem;
    border-bottom: 1px solid var(--color-primary);
    transition: all 0.3s ease;

    &:hover {
      border-bottom: 1px solid transparent;
      color: var(--color-primary-light);
    }
  }

  &:nth-of-type(2n) {
    background-color: var(--color-light-grey);
  }

  &:nth-of-type(2n) &__list,
  &:nth-of-type(2n) &__label {
    color: var(--color-black);
  }
}

.service-2 {
  @media only screen and (min-width: 768px) {
    order: -1;
  }
}
// ************************
// SECTION REVIEWS
.section-reviews {
  grid-column: 1 / -1;
  background-color: var(--color-primary);
  display: grid;
  justify-items: center;
  padding: 2rem 1rem;
  grid-row-gap: 2rem;
  color: var(--color-white);
  font-size: 1.6rem;
  position: relative;
}

.review {
  &__icon {
    width: 6rem;
    height: 6rem;
    margin-bottom: 3.5rem;
  }

  &__user {
    text-align: center;
  }

  &__rating {
    margin-top: 4rem;
    height: 2.5rem;
  }

  &__arrows {
    position: absolute;
    padding: 0 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;

    &--left,
    &--right {
      width: 3rem;
      transition: all 0.4s ease;
    }

    &--left:hover,
    &--right:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}
